/* Responsive CSS */
@media screen and (max-width:1169px) and (min-width:800px) { 
	html{overflow-x:hidden; }
}

@media screen and (max-width: 980px){
	.fse-overlap-image{ position:relative !important; right:auto !important; bottom:auto !important; margin:25px 0 !important;}
	.wp-block-section-01 h2, .wp-block-section-02 h2{ font-size:28px !important; }
	.wpcf7 input[type="text"], 
	.wpcf7 input[type="tel"], 
	.wpcf7 input[type="email"], 
	.wpcf7 textarea{ 
		width:100%;
	}	
	.blog-area .wp-block-post-template{
		grid-template-columns: auto auto;
	}
}

@media screen and (max-width:767px) {
	*{box-sizing:border-box;}
	.wp-block-navigation__responsive-container.is-menu-open.has-modal-open{ 
		padding:25px;
		background-color: var(--wp--preset--color--extra-primary) !important;
	}
	.main-header .top-header-info{
		width: 300px;
	}
	.main-banner-sec .banner-wrap{
		min-height: 650px !important;
	}
	.main-banner-sec .banner-content .banner-title{
		font-size: 30px !important;
		text-align: center;
	}
	.main-banner-sec .banner-content{
		text-align: center;
		padding-top: 25px;
	}
	.main-banner-sec .banner-content .banner-sub-title-box, .main-banner-sec .banner-content .banner-btn{
		justify-content: center;
	}
	.main-banner-sec .banner-wrap .banner-content .banner-btn + svg{
		display: none;
	}
	.main-banner-sec .banner-right-image .boy-img img {
        height: 310px !important;
    }
    .main-banner-sec .banner-wrap .banner-sales-img img {
        height: 100px !important;
    }
    .main-banner-sec .banner-wrap .banner-sales-img + svg{
    	height: 200px;
    }
	.services-section .services-sec-head .service-title{
		font-size: 28px !important;
	}
}
@media screen and (max-width:991px){
	.home .main-header{
		position: unset;
	}
	.main-header .header-wrap .header-left .header-logo-box, .main-header .header-wrap .header-right .header-btn-box, .banner-btn{
		justify-content: center;
	}
}
@media screen and (max-width:991px) and (min-width:768px){
	.main-banner-sec .banner-right-image .boy-img img{
		height: 360px !important;
	}
	.main-banner-sec .banner-boxes{
		flex-wrap: nowrap !important;
		gap: 10px;
	}
	.main-banner-sec .banner-content .banner-title{
		font-size: 30px !important;
	}
	.main-banner-sec .banner-wrap{
		min-height: 430px !important;
	}
	.main-banner-sec .banner-wrap + svg{
		height: 460px;
	}
	.main-banner-sec .banner-wrap .banner-sales-img img{
		height: 120px !important;
	}
	.main-banner-sec .banner-boxes:not(.is-not-stacked-on-mobile)>.banner-content{
		flex-basis: 40% !important;
	}
	.main-banner-sec .banner-boxes:not(.is-not-stacked-on-mobile)>.banner-right-image{
		flex-basis: 60% !important;
	}
	.main-banner-sec .banner-right-image .banner-sales-img + svg{
		height: 280px;
	}
	.main-banner-sec .banner-wrap .banner-content .banner-btn + svg{
		left: -36px;
	    height: 70px;
	    width: 35px;
	}
	.services-section .service-boxes{
		display: grid;
		grid-template-columns: auto auto;
	}
}
@media screen and (max-width:1199px) and (min-width:992px) {
	.main-header .header-mid .wp-block-navigation{
		gap: 12px;
	}
	.main-header .header-mid .wp-block-navigation a{
		font-size: 14px;
	}
	.main-header .header-mid{
		flex-basis: 50% !important;
	}
	.main-header .header-right{
		flex-basis: 30% !important;
	}
	.main-banner-sec .banner-wrap .banner-content .banner-btn + svg {
        left: -36px;
        height: 70px;
        width: 35px;
    }
	.main-banner-sec .banner-content .banner-title{
		font-size: 38px !important;
	}
	.main-banner-sec .banner-right-image .boy-img img{
		height: 390px !important;
	}
	.main-banner-sec .banner-wrap{
		min-height: 640px !important;
	}
	.main-banner-sec .banner-wrap .banner-sales-img + svg{
		height: 340px;
	}
	.main-banner-sec .banner-wrap + svg{
		height: 400px;
	}
	.main-banner-sec .banner-wrap .banner-sales-img img{
		height: 120px !important;
	}
}
@media screen and (max-width:1399px) and (min-width:1200px){
	.main-header .header-mid{
		flex-basis: 55% !important;
	}
	.main-header .header-right{
		flex-basis: 25% !important;
	}
	.main-banner-sec .banner-content .banner-title{
		font-size: 38px !important;
	}
	.main-banner-sec .banner-wrap .banner-sales-img + svg{
		height: 435px;
	}
	.main-banner-sec .banner-right-image .banner-sales-img img{
		height: 155px !important;
	}
	.main-banner-sec .banner-wrap .banner-content .banner-btn + svg{
		left: -55px;
	    height: 80px;
	    width: 52px;
	}
}
@media screen and (max-width:1699px) and (min-width:1400px){
	.main-banner-sec .banner-wrap .banner-sales-img + svg{
		height: 455px;
	}
}
@media screen and (max-width:1300px) and (min-width:1px) {
	[class*="wp-container-core-group-is-layout-"] > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		max-width: 90%;
	}
}